<nav class="navbar bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <div class="d-flex gap-3 align-items-center">
            <a class="btn btn-secondary" data-bs-toggle="offcanvas" href="#menu"><i class="bi bi-list"></i></a>
            
            <h4 class="mb-0">MCSM: "<%-data.motd %>"</h4>
        </div>
        <div class="d-flex align-items-center gap-3">
            <p id="navbar_players_online" class="m-0"></p>
            <button id="toggle_server" disabled class="d-flex gap-2 btn btn-secondary"> 
                Retrieving info...
            </button>
        </div>
    </div>
</nav>
<div class="offcanvas offcanvas-start" tabindex="-1" id="menu" aria-labelledby="menuCanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="menuCanvasLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div id="side-menu" class="list-group">
            <a href="/" class="list-group-item list-group-item-action"><i class="bi bi-speedometer"></i>Dashboard</a>
            <a href="/settings" class="list-group-item list-group-item-action"><i class="bi bi-gear"></i>Settings</a>
            <a href="/addons" class="list-group-item list-group-item-action"><i class="bi bi-plugin"></i>Plugins / Mods</a>
            <a href="/macros" class="list-group-item list-group-item-action"><i class="bi bi-at"></i>Command Macros</a>
            <a href="/scheduler" class="list-group-item list-group-item-action"><i class="bi bi-stopwatch"></i>Scheduler</a>
          </div>
          <button id="logout" class="btn btn-danger mt-2"><i class="bi bi-door-open"></i>Logout</button>
    </div>
</div>

<script>
    const toggleButton = $("#toggle_server");

    let body = $(document.body);
    $( "#side-menu > a" ).each(function( index ) {
        if(body.attr("path") && body.attr("path") == $(this).attr("href")) 
            $(this).addClass("active");
    });

    const playersOnline = $("#navbar_players_online");
    socket.on("status_update", (status) => {
        if(status.query && status.running) {
            playersOnline.text(`Online: ${status.query.players.length}/${status.query.maxPlayers}`)
        }else if(!status.query && status.running) {
            playersOnline.html(`<span class="text-muted">No query info...</span>`)
        }else {
            playersOnline.html(`<span class="text-muted">Offline</span>`)
        }
        
        if(status.running && !status.stopping) {
            toggleButton.removeClass("btn-success");
            toggleButton.removeClass("btn-warning");
            toggleButton.addClass("btn-danger");
            toggleButton.html(`<i class="bi bi-stop-circle"></i> Stop Server`)
            toggleButton.attr("disabled", false)
            lastToggleState = true;
        }else if(status.stopping) {
            toggleButton.removeClass("btn-success");
            toggleButton.removeClass("btn-danfer");
            toggleButton.addClass("btn-warning");
            toggleButton.html(`<i class="bi bi-arrow-clockwise"></i> Stopping Server`)
            toggleButton.attr("disabled", true)
            lastToggleState = true;
        }
        else {
            toggleButton.removeClass("btn-danger");
            toggleButton.removeClass("btn-warning");
            toggleButton.addClass("btn-success");
            toggleButton.html(`<i class="bi bi-play-circle"></i> Start Server`)
            toggleButton.attr("disabled", false)
            lastToggleState = false;
        }
    })

    $("#logout").click(() => {
        socket.emit("logout")
    })

    toggleButton.on("click", () => {
        toggleButton.find("i").remove();
        toggleButton.prepend(`
            <div class="d-flex justify-content-center align-items-center">
                <div class="spinner-border spinner-border-sm"
                    role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        `)

        socket.emit("toggle_server");
    })
</script>