<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MCSM - Minecraft Server Management Software</title>

        <%- include("partials/libs.ejs") %>
    </head>
    <body path="/scheduler" class="d-flex flex-column vh-100">
        <%- include("partials/navigation.ejs"); %>
        <main class="vw-100 vh-100 gap-3 p-2">
            <h3>Scheduler</h3>
            <hr class="m-1 mb-3">
        </main>

        <%- include("partials/footer.ejs") %>
    </body>
</html>